#containerBloquear {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 40px;
    border-radius: 10px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    max-width: 900px; 
    margin: 40px auto;
}
#infoContainer {
    flex: 2; 
    padding-right: 20px; 
    /* background-color: #f8f9fa;  */
}
#title {
    font-size: 2rem;
    color: #343a40; 
    margin-bottom: 10px;
}
#subtitle {
    font-size: 1rem;
    color: #6c757d; 
    margin-bottom: 30px;
    padding: 0 20px;
}
#userList {
    list-style-type: none; 
    padding: 0; 
    width: 100%; 
}
.user-item {
    background-color: #e9ecef; 
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    transition: background-color 0.3s, transform 0.2s;
}
.user-item:hover {
    background-color: #ced4da; 
}
.user-item.blocked {
    background-color: rgba(255, 0, 0, 0.1); /* Altere para a cor que você desejar */
    color: #ff0000; /* Altere o texto, se necessário */
}
.user-name {
    font-weight: bold;
    color: #212529; 
    font-size: 1rem; 
}
.user-email {
    color: #007bff; 
    font-weight: normal;
    font-size: 0.9rem; 
}
.no-users {
    text-align: center; 
    font-size: 1rem; 
    color: #6c757d; 
}
#imageContainer {
    flex: 1; 
    display: flex;
    justify-content: center; 
}
.users-icon {
    width: 250px; 
    height: auto; 
    margin-left: 20px; 
    margin-top: 40px; 
}
.bloquear {
    width: 150px;
    /* height: 80px; */
    padding: 5px;
    text-align: center;
    background-color: #b0419e;
}
#bloquear {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
}
#form {
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 10px;
}
#formAtualizar {
    display: grid;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    margin-top: 15px;
}
#formButton {
    width: 150px;
    /* height: 80px; */
    padding: 5px;
    text-align: center;
    background-color: #b0419e;
}
#labelEmail {
    margin-left: 15px;
}
.input {
    margin-left: 15px;
    padding: 4px;
    border: none;
    border-radius: 5px;
    width: 200px;
}