#cadastro {
  background-color: #FBFBFB;
  width: 50%;
  height: 100vh;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
}

#cadastro-container {
  background-color: #9a6c92;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 120px;
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
}

#subtitle {
  font-size: 16px;
  color: #333;
  text-align: center;
  padding: 0 20px;
}

#line {
  width: 580px;
  height: 1px;
  color: #b0419e;
}

#componentes form {
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#email, #senha, #nome {
  margin-left: 0 !important;
  width: 450px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

#email, ::placeholder, #senha, ::placeholder, #nome, ::placeholder {
  font-size: 14px;
  font-weight: lighter;
  padding: 5px;
}

#button-cadastro {
  background-color: #b0419e;
  width: 340px;
  height: 40px;
  padding: 0;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  font-weight: 500;
  border: none;
}

#password-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 25px;
}

#senha {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}