#container-conselho {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#button-add {
  background-color: #c78abd;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#button-add img {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

#hidden {
  display: block;
  text-align: left;
}

#title-conselho {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

#line-addAdvice {
  height: 1px;
  background-color: #c78abd;
  margin-bottom: 20px;
}

#add-notes-input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#add-notes-button {
  background-color: #c78abd;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button {
  background-color: #82bee6;
  width: 80px;
  color: #fff;
  padding: 5px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #2980b9;
}

.delete-button {
  background-color: #e1978e;
  width: 80px;
  color: #fff;
  padding: 5px;
  margin-left: 5px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #c0392b;
}

.save-button {
  background-color: #2ecc71;
  width: 80px;
  margin-top: 8px;
  color: #fff;
  padding: 5px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-button:hover {
  background-color: #27ae60;
}

.cancel-button {
  background-color: #95a5a6;
  width: 80px;
  margin-left: 5px;
  margin-top: 8px;
  color: #fff;
  padding: 5px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel-button:hover {
  background-color: #7f8c8d;
}