#container-conselho {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#button-add {
  background-color: #c78abd;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
#button-add img {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}
#hidden {
  display: block;
  text-align: left;
}
#title-conselho {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
#line-addAdvice {
  height: 1px;
  background-color: #c78abd;
  margin-bottom: 20px;
}
#add-notes-input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
#add-notes-button {
  background-color: #c78abd;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#list-notes {
  margin-top: 20px;
}
#list-notes p {
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#list-notes .buttons {
  display: flex;
  gap: 10px;
}
#list-notes button {
  background-color: #aa4999;
  color: #ffff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}