@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
footer {
  background-color: #cb90c1;
  color: #5D4037;
  /* position: absolute; */
  /* bottom: 0; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  width: 100%;
}
#title-footer {
  text-align: center;
  color: rgb(37, 37, 37);
  font-weight: 600;
}
.dosis {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}