* {
  text-align: justify;
  font-size: 16px;
  line-height: 1.6;
  color: #333; 
}
strong {
  color: #542d4d;
}
#title {
  font-family: "Lora", serif;
  text-align: center;
  /* font-weight: 500; */
}
#container {
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
#cards-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
}
.card {
  flex: 1 1 calc(33.333% - 20px); 
  box-sizing: border-box;
  margin: 10px;
  border: 1px solid #6b6b6b;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
  position: relative;
}
.card-image {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: auto;
}
.title-notes {
  margin-bottom: 10px;
  font-size: 18px;
  font-family: "Lora", serif;
  font-weight: 600;
  color: #4a4a4a;
}
.card p {
  font-size: 16px;
  color: #333;
}